.highlighted {
  font-weight:bold
}

#indextank-query-wrapper {
  display: inline;
}

#indextank-facets {
  border-bottom: 1px solid #AAAAAA;
  margin: 0 -26px 1.5em;
  padding: 0 26px 1em;
}

#indextank-selected-facets ul {

}

#indextank-selected-facets li {
  display: inline;
  background-image: none;
  margin: 0 10px 0 0 ;
  padding: 2px;
  border: 1px solid black;
}

.indextank-selected-facet-container,.ui-icon{
  display: inline-block !important;
}

.indextank-available-facet-container {
  width: 150px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.indextank-available-facet-container dt {
  font-size: 120%;
}

.indextank-available-facet-container dd, .indextank-available-facet-container dl{
  margin: 0;
}

#indextank-pagination {
  text-align: center;
}

#indextank-pagination li {
  display: inline;
  background-image: none;
  cursor: pointer;
  font-size: 120%;
}

#indextank-pagination li.selected {
  font-weight: bold;
  font-size: 150%;
  cursor: default;
}

